html {

    font-family: garamond;
    color: #444;
    font-size: 25px;
    background-color: rgba(214, 239, 250, 0.616);
    padding: 30px 100px; 
    margin: 20px;
}

h2{

    background-color: orchid;

}